/* frontend/src/components/Footer.css */
.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: 'Waltograph', sans-serif;
  color: rgb(252, 47, 81);
 margin-top: 100px;
  bottom: 0;
  left: 0;
  margin-right: 120px;
}

.footer p {
  margin: 0;
  font-size: 3.5rem;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: rgb(33, 37, 41);
  transition: color 0.3s;
}

.social-icons a:hover {
  color: rgb(250, 140, 158);
}




/* Responsive styling for 375px screen */
@media only screen and (max-width: 375px) {
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Waltograph', sans-serif;
    color: rgb(252, 47, 81);
   margin-top: 100px;
    bottom: 0;
    margin-left: 120px;
    margin-right: 120px;
  }
}