/* frontend/src/components/Home.css */
.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container h1 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 7rem; /* Adjust the font size as needed */
  text-align: center;
  margin-top: 145px; /* Adjust the margin as needed */
  margin-right: 150px;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-container p {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 4.5rem; /* Adjust the font size as needed */
  text-align: center;
  margin-top: -130px; /* Adjust the margin as needed */
  margin-left: 270px;
}

.nav-buttons {
  display: flex;
  flex-direction: row; /* Align buttons next to each other */
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.nav-link {
  display: inline-block;
  background-color: rgb(250, 140, 158);
  color: white;
  padding: 10px 20px;
  margin: 35px; /* Increase the margin to create more spacing */
  text-decoration: none;
  border-radius: 50px; /* Make buttons more rounded */
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 50px rgb(248, 7, 140); /* Add pink glow */
  transition: box-shadow 0.9s ease; /* Smooth transition for glow effect */
}

.nav-link:hover {
  background-color: rgb(240, 100, 120);
  box-shadow: 0 0 20px rgba(250, 140, 158, 0.7); /* Enhance glow on hover */
}

.about-section {
  display: flex;
  flex-direction: row; /* Align image and about me section next to each other */
  align-items: flex-start;
  margin-top: 20px;
  width: 80%; /* Adjust the width as needed */
}

.artist-image {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 150px; /* Optional: Add rounded corners to the image */
  margin-right: 20px; /* Add some space between the image and the text */
  margin-top: 190px;
}

.about-me {
  flex: 1;
}

.about-me h2 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 3.5rem; /* Adjust the font size as needed */
  margin-left: 250px;
  margin-top: 100px;
}

.about-me p {
  font-family: 'Arial', sans-serif;
  color: rgb(33, 37, 41);
  font-size: 1.0rem; /* Adjust the font size as needed */
  line-height: 1.5;
}

.gallery-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Adjust as needed */
}

.gallery-heading h2 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 3.5rem; /* Adjust the font size as needed */
  text-align: center; /* Center the heading */
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.gallery-image {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 20px; /* Add space between the images */
  border-radius: 10px; /* Optional: Add rounded corners to the images */
  box-shadow: 0 0 50px rgb(248, 7, 140);
}

.contact-container {
  display: flex;
  flex-direction: row; /* Align paragraph and form next to each other */
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px; /* Adjust as needed */
  width: 80%; /* Adjust the width as needed */
}

.contact-paragraph {
  flex: 1;
  margin-right: 20px; /* Add space between the paragraph and the form */
}

.contact-paragraph p {
  font-family: 'Arial', sans-serif;
  color: rgb(33, 37, 41);
  font-size: 1.0rem; /* Adjust the font size as needed */
  line-height: 1.5;
  margin-top: 210px;
  margin-left: 150px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-form h2 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 3.5rem; /* Adjust the font size as needed */
  text-align: center; /* Center the heading */
  margin-right: 150px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-right: 150px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  font-family: 'Arial', sans-serif;
  color: rgb(248, 7, 140);
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #f558ae;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: rgb(250, 140, 158);
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 50px rgb(248, 7, 140);
  transition: box-shadow 0.9s ease;
}

button[type="submit"]:hover {
  box-shadow: 0 0 5px rgb(248, 7, 140);
}


