/* frontend/src/components/Home.css */
.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Make the home section full height */
  justify-content: center; /* Center content vertically */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container h1 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 7rem; /* Adjust the font size as needed */
  text-align: center;
  margin-top: 350px; /* Adjust the margin as needed */
  margin-right: 150px;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description-container p {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 4.5rem; /* Adjust the font size as needed */
  text-align: center;
  margin-top: -130px; /* Adjust the margin as needed */
  margin-left: 270px;
}

.nav-buttons {
  display: flex;
  flex-direction: row; /* Align buttons next to each other */
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.nav-link {
  display: inline-block;
  background-color: rgb(250, 140, 158);
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 50px; /* Make buttons more rounded */
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 50px rgb(248, 7, 140); /* Add pink glow */
  transition: box-shadow 0.9s ease; /* Smooth transition for glow effect */
}

.nav-link:hover {
  background-color: rgb(240, 100, 120);
  box-shadow: 0 0 20px rgba(250, 140, 158, 0.7); /* Enhance glow on hover */
}

.about-section {
  display: flex;
  flex-direction: row; /* Align image and about me section next to each other */
  align-items: flex-start;
  margin-top: 20px;
  width: 80%; /* Adjust the width as needed */
}

.artist-image {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 150px; /* Optional: Add rounded corners to the image */
  margin-right: 20px; /* Add some space between the image and the text */
  margin-top: 50px;
}

.about-me {
  flex: 1;
}

.about-me h2 {
  font-family: 'Waltograph', sans-serif;
  color: rgb(250, 140, 158);
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin-left: 250px;
  margin-top: 100px;
}

.about-me p {
  font-family: 'Arial', sans-serif;
  color: rgb(33, 37, 41);
  font-size: 1.0rem; /* Adjust the font size as needed */
  line-height: 1.5;
}




